bin/
obj/
.vs/
*.suo
*.user
.DS_Store
desktop.ini
Thumbs.db
.env
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
.#*
.*.swp
packages/*
!packages/**/*.targets
node_modules/
*.tsbuildinfo
javascript/node_modules/